obj
bin
tmp
release/**
.work/**
**/.ds8/**
*.user
*.suo
*.tmp
*.pyc
*.pyc
*.nupkg
.DS_Store
packages
*db.lock
.vs
*.sqlite
*.csv
*.zip
.vscode/**
**/node_modules/**
**/hyper_model.egg-info/**
**/logs/**
**/build/**
**/build-esm/**
**/dist/**
/output/**
*.procs
*.joblib
artifacts/**
artifacts/**
